@import './variables.css';

body {
    min-height: 100svh;
    
    overflow: hidden;
}

header {
    height: var(--header-height);
    background-color: var(--app-clr);
    display: grid;
    place-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr auto;
    height: calc(100svh - var(--header-height));

    & .panel,
    .sidebar {
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
    }

    & .panel {
        display: grid;
        padding: 1rem 1rem 1rem 2rem;

        & .subheadline {
            color: var(--app-clr);
        }
    }

    & .sidebar {
        max-height: calc(100svh - var(--header-height));
        text-align: center;
        background-color: var(--app-clr);


        & .topics {
            padding-inline: 1rem;
            text-align: right;
            list-style-type: none;

            & li {
                padding: .25rem .75rem;
                margin-block: .2rem;
                border-radius: .25rem;
                cursor: pointer;
            }
            & li:hover {
                outline: 2px solid var(--bg-clr);
            }
        }

        & .headline {
            position: sticky;
            top: 0;
            padding-block: 0 .5rem;
            background-color: var(--app-clr);
        }
    }
}

