@import './variables.css';
@import './blocks.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

a:visited {
    color: inherit;
}

/* Custom scroll bars style */
/* width */
::-webkit-scrollbar {
    width: 5px;
    background: red;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: yellow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #111; 
}