@import './variables.css';
@import './blocks.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html::view-transition-group(*) {
    /* position: absolute;
    top: 0;
    left: 0; */
  
    animation-duration: .5s;
    animation-fill-mode: both;
}

a:visited {
    color: inherit;
}

/* Custom scroll bars style */
/* width */
::-webkit-scrollbar {
    width: 6px;
    background: var(--app-clr);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent-clr);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-clr); 
}

@media (width < 678px) {
    .desktop-only {
        display: grid;
        place-items: center;
        position: absolute;
        inset: 0;
        background-color: var(--bg-clr);
        font-size: 5vw;
        font-family: "Titillium Web", serif;
        color: var(--app-clr);
        outline-offset: -2rem;
        outline: 2px solid var(--app-clr);
    }

    body > :not(.desktop-only) {
        display: none;
    }
}