:root {
    --bg-clr: hsl(180, 33%, 15%);
    --app-clr: hsl(33, 100%, 88%);
    --header-height: 3rem;

    --accent-clr: hsl(205, 30%, 39%);
}

body {
    background-color: var(--bg-clr);
    color: var(--bg-clr);
}