:root {
    --bg-clr: hsl(180, 33%, 15%);
    --app-clr: hsl(33, 100%, 88%);
    --accent-clr: hsl(205, 30%, 39%);
    
    --header-height: 3.5rem;
}

@font-face {
    font-family: 'display-font';
    src: url('../font/Titillium_Web/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: 'chalk-font';
    src: url('../font/Lacquer/Lacquer-Regular.ttf');
}